/* Css for the header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.208);
    border-radius: 20px;
    padding: 1rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container>img {
    height: 4rem;
    width: 4rem;
    border-radius: 15px;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    list-style: none;
}

.nav-items>li {
    text-decoration: none;
    margin: 2px;
    padding: 10px;
}

.nav-items li a {
    text-decoration: none;
    color: black;
}
.nav-items li a:hover {
    background: #5e9e897a;
    color: rgb(47, 24, 177);
}

.login-btn {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(22, 22, 177, 0.553);
}

/* Css for reataurant cart */
.restaurent-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
}
.restaurent-card:hover {
    box-shadow: 1px 2px 10px rgba(13, 21, 130, 0.594);
    background-color: rgba(230, 234, 234, 0.048);
    cursor: pointer;
    scale: 0.95;
}

.restaurant-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* Restaurant Menu cards */
.menu-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.menu-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
}
.menu-detailed{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.img-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    /* border: 5px solid black; */
}
.img-container >img{
    height: 300px;
    width: 20rem;
    object-fit: cover;
    border-radius: 20px;
}

/* Css for body */
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.res-container >a{
    text-decoration: none;
    color: black;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search>input {
    padding: 5px 15px;
    margin: 2rem;
    width: 20rem;
    height: 2rem;
    border-radius: 3rem;
}

.search>span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder
}

.search-btn {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: #00000036;
    color: rgb(47, 24, 177);
}

.filter-btn {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.filter-btn:hover {
    scale: 0.9;
}

/* Restaurant blank card */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blank-restaurent-card {
    border-radius: 10px;
    margin: 1rem;
    background-color: #d8d1d18f;
    height: 20rem;
    width: 17rem;
}